.checkout {
    display: flex;
    justify-content: space-between;
    padding: 52px;
    background: white;
    height: max-content;
    background-color: rgb(234, 237, 237);
}
.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__left {
    background-color: white;
}

.checkout__right {
    margin-left: 20px;
}